@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background:  #ffeeee;
  --foreground: #171717;
}



body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(to bottom right, #38065D, #250556);
}

header {
  max-width: 1400px !important;
}
